NODE_ENV=development
PORT=3000
HOST=0.0.0.0
CONTEXT_PATH=
CORS_ORIGIN=http://localhost:5173
REQUEST_TIMEOUT_MS=10000
AXIOS_RETRY_COUNT=2
AXIOS_RETRY_DELAY_MS=300
KONNECT_BASE_URL=https://in.api.konghq.com
KONNECT_PAT=
